<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639002445242-mrpj5rklcr044pldpa95jph4g8m5frn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639002445242-mrpj5rklcr044pldpa95jph4g8m5frn3</string>
	<key>API_KEY</key>
	<string>AIzaSyC096fKZ88OPgW-7S_V6RGqY9FV2-NQbvw</string>
	<key>GCM_SENDER_ID</key>
	<string>639002445242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finance</string>
	<key>PROJECT_ID</key>
	<string>finance-43467</string>
	<key>STORAGE_BUCKET</key>
	<string>finance-43467.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639002445242:ios:2cbc2fb88cf2d30416c983</string>
</dict>
</plist>